# Phillips hue bridge
hue_username = DouHODBfBDBYvjhdDud7229OIHfu
hue_ip_address = 192.168.0.69

# Remote shutdown of pc 
pc_mac_address = ff:ff:ff:ff:ff:ff
pc_ip_address = 192.168.0.67

# Mail sender
smtp_port = 587
smtp_server = smtp.google.com
sender_email = sender@example.com
sender_email_password = 12345
receiver_email = reciver@example.com