# Timezone from: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
timezone = Europe/Berlin

# Secret code
secret_code = 123

# IOT bridge - leave empty if no data is provided
# Phillips hue bridge
hue_ip_address = 192.168.0.69
hue_username = DouHODBfBDBYvjhdDud7229OIHfu
# Homey bridge
homey_ip_address = 192.168.0.69
homey_key = ufykkty-8465:5egs

# Remote shutdown of pc, OBS. remember to activate 'WoL'
pc_mac_address = ff:ff:ff:ff:ff:ff
pc_ip_address = 192.168.0.67

# Mail sender
smtp_port = 587
smtp_server = smtp.google.com
sender_email = sender@example.com
sender_email_password = 12345
receiver_email = reciver@example.com